<nav class="navbar">
    <div class="nav-container">
        <a href="/dashboard" class="logo">
            <img src="/images/navbar.png" alt="Fincraft Logo" style="height:50px; margin-right: 200px;">
        </a>
        <div class="nav-links">
            <a href="/dashboard">
                <i class="fas fa-home"></i> Dashboard
            </a>
            <a href="/history">
                <i class="fas fa-history"></i> Trade History
            </a>
            <a href="/brokers">
                <i class="fas fa-user-tie"></i> Brokers
            </a>
            <a href="/news">
                <i class="fas fa-newspaper"></i> News
            </a>
            <a href="/auth/logout" class="logout-btn">
                <i class="fas fa-sign-out-alt"></i> Logout
            </a>
            <!-- <a href="/profile" class="profile-img" title="Profile">
                <%= user && user.name ? user.name.charAt(0).toUpperCase() : 'U' %>
            </a> -->
        </div>
    </div>
    <!-- In your navbar -->
     <div  class="search-bar-top">
            <a href="/search" class="search-icon-btn" title="Search">
                <img src="/images/letter.png" alt="search" class="search-icon" style="height: 30px; width: 100px;"><img src="/images/search.png" alt="Search Icon" class="search-icon" style ="height: 50px; width: 50px;">
            </a>
    </div>
<a href="/profile" class="profile-link" title="Profile">
    <% if (user && user.profileImage) { %>
        <img src="<%= user.profileImage %>" alt="Profile" class="profile-image-nav">
    <% } else { %>
        <div class="profile-initial">
            <%= user && user.name ? user.name.charAt(0).toUpperCase() : 'U' %>
        </div>
    <% } %>
</a>
<link rel="stylesheet" href="/css/navbar.css">
</nav>